/* GENERAL */

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body {
    font-family: "poppins", sans-serif;
}

/* .row>* { 
    border: 1px solid red
} */

/* utilities */
.whitesmoke {
    color: whitesmoke;
}

.m_100 {
    margin: 100px 0;
}

.fs_50 {
    font-size: 50px;
}

.p_40 {
    padding: 0 40px;
}

/* nav */
nav {
    height: 80px;
    line-height: 80px;
    position: fixed;
    background-color: black;
    z-index: 2;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: whitesmoke;
    cursor: pointer;
}

b {
    font-size: 60px;
    color: rgb(222, 249, 20);
}

.navItems {
    margin-bottom: 0;
}

.navItems li {
    margin: 0 25px;
}

.navItems li a {
    font-size: 20px;
    letter-spacing: 3px;
    color: whitesmoke;
}

.navItems li:hover a {
    color: rgb(222, 249, 20);
}

.social a:hover i {
    color: rgb(222, 249, 20);
    font-size: 40px;
}

.social a {
    margin: 0 15px;
    font-size: 25px;
}

/* home */
main {
    padding-top: 80px;
    background-color: black;
}

#home {
    height: calc(100vh - 80px);
    background-image: url("img/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 650px;
}

.wrapper {
    top: 35%;
    left: 15%;
}

#home span {
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 1px;
}

.dynamicText {
    font-weight: 800;
    color: rgb(222, 249, 20);
}

.dynamicText::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 3px solid rgb(222, 249, 20);
    animation: typing 5s infinite;
}

.down {
    width: 100%;
    height: calc(100vh - 80px);
}

/* about me */
.profile {
    width: 80%;
}

.text h1 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 15px;
}

.skills ul {
    row-gap: 5px;
}

.skills ul li {
    margin: 0 10px;
}

.skills ul li img {
    width: 40px;
}

.logo {
    width: 60px !important;
}

.contacts ul li a:hover {
    color: rgb(222, 249, 20);
}

.skills,
.contacts {
    padding-top: 10px;
}

.text p,
.skills ul,
.contacts ul {
    padding: 0 30px;
}

.text h2,
.skills h2,
.contacts h2 {
    color: rgb(222, 249, 20);
}

.button {
    width: 180px;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(53, 49, 49);
    border-radius: 10px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(222, 249, 20);

}

.button:hover a,
.button:hover i {
    color: black;
}

#aboutMe .down2 span {
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 1px;
}

/* projects */
#projects {
    padding: 60px 0;
}

#projects h2 {
    font-size: 60px;
    margin: 10px 0;
}

.container-project {
    margin: 65px 0;
}

.container-project h3,
.container-project p {
    color: rgb(222, 249, 20);
}

.container-project ul li {
    margin: 0 8px;
}

.container-project .col img {
    height: 300px;
    width: 500px;
}

.info {
    background: rgba(189, 211, 29, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.info>p {
    color: whitesmoke;
    margin: 0;
}


/* text animation */
@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}