/* GENERAL */

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*
.row>* {
    border: 1px solid red
}

/* utilities */
.whitesmoke {
    color: whitesmoke;
}

.m_70 {
    margin: 70px auto;
}

.fs_50 {
    font-size: 50px;
}

.p_40 {
    padding: 0 40px;
}

/* nav */
nav {
    height: 80px;
    line-height: 80px;
    position: fixed;
    background-color: black;
    z-index: 2;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: whitesmoke;
    cursor: pointer;
}

b {
    font-size: 60px;
    color: rgb(222, 249, 20);
}

.navItems {
    margin-bottom: 0;
}

.navItems li {
    margin: 0 25px;
}

.navItems li a {
    font-size: 20px;
    letter-spacing: 3px;
    color: whitesmoke;
}

.navItems li:hover a {
    color: rgb(222, 249, 20);
}

.navItems li:hover {
    border-bottom: 2px solid rgb(222, 249, 20);
}

/* home */
main {
    padding-top: 80px;
    background-color: black;
}

#home {
    height: calc(100vh - 80px);
    background-image: url("img/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 650px;
}

.wrapper {
    top: 35%;
    left: 15%;
}

#home span {
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 1px;
}

.dynamicText {
    font-weight: 800;
    color: rgb(222, 249, 20);
}

.dynamicText::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 3px solid rgb(222, 249, 20);
    animation: typing 5s infinite;
}

.down {
    width: 100%;
    height: calc(100vh - 80px);
}

/* about me */
.profile {
    width: 80%;
}

.text h1 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contacts ul li a:hover {
    color: rgb(222, 249, 20);
}

.contacts {
    padding-top: 10px;
}

.text p,
.contacts ul {
    padding: 0 30px;
}

.text h2,
.contacts h2 {
    color: rgb(222, 249, 20);
    font-size: 25px;
}

.button {
    width: 180px;
    height: 50px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(53, 49, 49);
    border-radius: 10px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(222, 249, 20);

}

.button:hover a,
.button:hover i {
    color: black;
}

#aboutMe .down2 span {
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 1px;
}

/* skills */
#skills h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 70px;
}

.card {
    width: 160px;
    height: 140px;
    background: rgb(53, 49, 49);
    margin: 50px 20px;
}

.card img {
    width: 80%;
    padding: 10px;
    transition: all 0.8s ease;
}

.card img:hover {
    width: 120%;
}

#skills .down2 span {
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 1px;
}

/* projects */



/* text animation */
@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

/* media-queries */
@media screen and (max-width: 1000px) {}